/*Const color*/
.pending-color{
	color: #232323;
	opacity: 0.4;
}
.ongoing-color{
	color: #232323;
	opacity: 0.4;
}
.inpection-report-color{
	color: #18A0FB;
}
.review-color{
	color: #00DB87;
}
.project-done-color{
	color: #240B73;
}
.text-color-main{
	color: #232323;
}
.main-color{
	color: #2E157E;
}